<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
<meta charset="utf-8">
    <title>Paytential</title>
<!-- Will be turning title into a variable in the near future for the templates so each page can have the appropriate title-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'paytential/css/main_css.css' %}" type = "text/css"/>


</head>
<!-- This is the head information where we will put our css and js as well as Title Info for all our pages
Currently Working on incorporating a variable for the title page-->
{% block content %}
<br>
{% endblock %}