{% extends 'paytential/base.html' %}
<!-- This is how we can include or extend our html/document, here we are including the css and js from another file -->

{% block content %}


{% include 'paytential/navigation.html' %}


		
  <div class="container">
		<div class="row">
			<div class="jumbotron col-xs-12 col-md-4 col-md-offset-4 center-block margin_top" style="float: none;">
			  <form>
			  <img src="AppleOrange2017.png" style="width: 50%; height: 50%;" class="img-responsive center-block">
				<input type="text" class="form-control input_top_margin" placeholder="Username">
				  
				<input type="text" class="form-control input_top_margin" placeholder="Password">

				<input type="text" class="form-control input_top_margin" placeholder="Confirm Password">

				<input type="text" class="form-control input_top_margin" placeholder="Supervised by">

			 <button class="btn btn-warning btn-lg center-block orange-button center-block" style="margin-top:10px;" type="Create User">Create User</button>
			  </form>
			</div><!--end of jum-->
		</div><!--end of row-->
	</div>
<!--<div class="footer">-->
<footer>
	<div class="row text-center">
		<h5>Subscribe to our monthly newsletter</h5>
		<form class="form-inline col-xs-12 text-center" method="post" action="....py">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email Address">
			</div>
				<button type="submit" class="btn orange-button explanation">Send</button>
		</form>
	</div>
	<div class="row">
		<ul id="social-icons" class="center-block">
			<li class="social-icons col-xs-2"><a href="https://www.facebook.com/Paylocity" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook-official"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://twitter.com/Paylocity" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.linkedin.com/company-beta/24614" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.youtube.com/user/PaylocityCorporation" class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://plus.google.com/+paylocity" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a></li>
		</ul>
	</div>
	<h6 class="text-center">&#9400 Team Unit 2017</h6>
</footer>
	
</body>
</html>
{% endblock %}