<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="main_css.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="#"><img src="paytential_logo.png" class="img-responsive logo" style="position: relative; top: -70%;" ></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="operationunit.html">Home</a></li>
		<li><a href="create_a_user.html">Create user</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="help.html">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		
  <div class="container">
		<div class="row">
			<div class="jumbotron col-xs-12 col-md-4 col-md-offset-4 center-block margin_top" style="float: none;">
			  <form>
			  <img src="AppleOrange2017.png" style="width: 50%; height: 50%;" class="img-responsive center-block">
				<input type="text" class="form-control input_top_margin" placeholder="Username">
				  
				<input type="text" class="form-control input_top_margin" placeholder="Password">

				<input type="text" class="form-control input_top_margin" placeholder="Confirm Password">

				<input type="text" class="form-control input_top_margin" placeholder="Supervised by">

			 <button class="btn btn-warning btn-lg center-block orange-button center-block" style="margin-top:10px;" type="Create User">Create User</button>
			  </form>
			</div><!--end of jum-->
		</div><!--end of row-->
	</div>
<!--<div class="footer">-->
<footer>
	<div class="row text-center">
		<h5>Subscribe to our monthly newsletter</h5>
		<form class="form-inline col-xs-12 text-center" method="post" action="....py">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email Address">
			</div>
				<button type="submit" class="btn orange-button explanation">Send</button>
		</form>
	</div>
	<div class="row">
		<ul id="social-icons" class="center-block">
			<li class="social-icons col-xs-2"><a href="https://www.facebook.com/Paylocity" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook-official"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://twitter.com/Paylocity" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.linkedin.com/company-beta/24614" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.youtube.com/user/PaylocityCorporation" class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://plus.google.com/+paylocity" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a></li>
		</ul>
	</div>
	<h6 class="text-center">&#9400 Team Unit 2017</h6>
</footer>
	
</body>
</html>