{% extends 'paytential/base.html' %}
<!-- This is how we can include or extend our html/document, here we are including the css and js from another file -->

{% block content %}


{% include 'paytential/navigation.html' %}



<ol class="breadcrumb crumb_style"">
  <li class="breadcrumb-item"><a href="operationunit.html" class="crumb_style">Chicago</a></li>
  <li class="breadcrumb-item active" style="color: orange;">List of employees</li>
</ol>


<div class="container">
<!--list of names-->
<section>
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-table">
              <div class="panel-heading" style="background:rgba(0,0,0,0.0); border: 0;<!--rgba(218,218,218,0);-->">
				<div class="row text-center">
					<h1><img class="apple" src="AppleOrange2017.png" style="width: 10%; height: 10%;" align="middle">My Operation Unit</h1>
					<h5 class="explanation">On this page you can see all employees from this operational uniit. You can access general dashboard view or selected employee rating page</h5>
				</div>
              </div>
			 </div> 
			  <!--search bar-->
	<div class="form-inline text-center search_bar">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Last name, First name" >
		</div>
			<button class="btn orange-button">
                 <span class="glyphicon glyphicon-search"></span>
            </button>
			<a class="btn orange-button" href="dashboard.html">
				<em class="fa fa-th"> Dashboard</em>
			</a>
	</div>
			  
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th class="text-center">Last name, first name</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr>
								<td align="center">
								   <a class="" style="text-decoration: none;" href="correct_rating.html">Brown Loreina <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
						  
						   <tr>
								<td align="center">
								   <a class="explanation" style="text-decoration: none;" href="correct_rating.html">Kim Min<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
						  
						   <tr>
								<td align="center">
								   <a class="" style="text-decoration: none;" href="correct_rating.html">Sen Viseth<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
						  
						   <tr>
								<td align="center">
								   <a class="explanation" style="text-decoration: none;" href="correct_rating.html">Smiley Jeniece<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
						  
						   <tr>
								<td align="center">
								   <a class="" style="text-decoration: none;" href="correct_rating.html">Turchyna Kateryna<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
						  
						   <tr>
								<td align="center">
								   <a class="explanation" style="text-decoration: none;" href="correct_rating.html">Villodas Molly<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
								</td>
                          </tr>
                         <!-- <tr>
                            <td align="center">
                               <a class="btn orange-button"><em class="fa fa-eye">View</em></a>
                            </td>
                            <td>Kim</td>
                            <td>Min</td>
                          </tr>
                          <tr>
                            <td align="center">
                               <a class="btn orange-button"><em class="fa fa-eye">View</em></a>
                            </td>
                            <td class="def-text">Sen</td>
                            <td class="def-text">Viseth</td>
                          </tr>
                          <tr>
                            <td align="center">
                               <a class="btn orange-button"><em class="fa fa-eye">View</em></a>
                            </td>
                            <td>Smiley</td>
                            <td>Jeniece</td>
                          </tr>
                          <tr>
                            <td align="center">
                               <a class="btn orange-button"><em class="fa fa-eye">View</em></a>
                            </td>
                            <td class="def-text">Turchyna</td>
                            <td class="def-text">Kateryna</td>
                          </tr>
                          <tr>
                            <td align="center">
                               <a class="btn orange-button"><em class="fa fa-eye">View</em></a>
                            </td>
                            <td>Villodas</td>
                            <td>Molly</td>
                          </tr>-->
                        </tbody>
                </table>
              </div>
			  
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-xs-4">Page 1 of 3
                  </div>
                  <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</div>

<footer>
	<div class="row text-center">
		<h5>Subscribe to our monthly newsletter</h5>
		<form class="form-inline col-xs-12 text-center" method="post" action="....py">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email Address">
			</div>
				<button type="submit" class="btn orange-button explanation">Send</button>
		</form>
	</div>
	<div class="row">
		<ul id="social-icons" class="center-block">
			<li class="social-icons col-xs-2"><a href="https://www.facebook.com/Paylocity" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook-official"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://twitter.com/Paylocity" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.linkedin.com/company-beta/24614" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://www.youtube.com/user/PaylocityCorporation" class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube"></i></a></li>
			<li class="social-icons col-xs-2"><a href="https://plus.google.com/+paylocity" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a></li>
		</ul>
	</div>
	<h6 class="text-center">&#9400 Team Unit 2017</h6>
</footer>
</body>
</html>
{% endblock %}